In [15]:
import numpy as np
import pandas as pd

In [29]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [10]:
T = [[0.2, 0.6, 0.2],
     [0.3, 0.0, 0.7],
     [0.5, 0.0, 0.5]]

a = [[1, 0, 0]]

In [11]:
tmp = np.dot(a,T)

In [12]:
print(tmp)

[[0.2 0.6 0.2]]

In [17]:
d = {        'day':["mon", "tue", "wed", "thu", "fri", "sat", "sun",],
         'weather':["sunny", "sunny", "sunny", "cloudy", "shower", "shower", "sunny",],
     'temperature':[12.34, 14.07, 10.74, 12.56, 17.62, 15.84, 11.33],
            'wind':[13, 28, 16, 11, 26, 27, 20],
        'humidity':[22, 26, 21, 29, 24, 23, 20]}

In [18]:
df = pd.DataFrame(data=d)

In [19]:
df

   day weather  temperature  wind  humidity
0  mon   sunny        12.34    13        22
1  tue   sunny        14.07    28        26
2  wed   sunny        10.74    16        21
3  thu  cloudy        12.56    11        29
4  fri  shower        17.62    26        24
5  sat  shower        15.84    27        23
6  sun   sunny        11.33    20        20

In [20]:
df.set_index(df.day, inplace=True)

In [25]:
del df['day']

In [27]:
df.loc["fri", "temperature"]

17.62

In [28]:
df.loc[:,"wind"]

day
mon    13
tue    28
wed    16
thu    11
fri    26
sat    27
sun    20
Name: wind, dtype: int64

In [30]:
df.loc["mon",:]

weather        sunny
temperature    12.34
wind              13
humidity          22
Name: mon, dtype: object

In [31]:
df.iloc[0,:]

weather        sunny
temperature    12.34
wind              13
humidity          22
Name: mon, dtype: object

In [32]:
df

    weather  temperature  wind  humidity
day
mon   sunny        12.34    13        22
tue   sunny        14.07    28        26
wed   sunny        10.74    16        21
thu  cloudy        12.56    11        29
fri  shower        17.62    26        24
sat  shower        15.84    27        23
sun   sunny        11.33    20        20

In [33]:
df.iloc[:,1]

day
mon    12.34
tue    14.07
wed    10.74
thu    12.56
fri    17.62
sat    15.84
sun    11.33
Name: temperature, dtype: float64

In [37]:
df.isin({"wind": [13]})

     weather  temperature   wind  humidity
day
mon    False        False   True     False
tue    False        False  False     False
wed    False        False  False     False
thu    False        False  False     False
fri    False        False  False     False
sat    False        False  False     False
sun    False        False  False     False