In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time

In [11]:
mon=pd.read_csv(   'data/monday.csv', sep=';')
tue=pd.read_csv(  'data/tuesday.csv', sep=';')
wed=pd.read_csv('data/wednesday.csv', sep=';')
thu=pd.read_csv( 'data/thursday.csv', sep=';')
fri=pd.read_csv(   'data/friday.csv', sep=';')

week = [mon, tue, wed, thu, fri]
working_days = ["mon", "tue", "wed", "thu", "fri"]

In [ ]:
def smoothen_data(daily_df):
    all_customers    = set(daily_df.customer_no.values)
    co_customers     = set(daily_df[daily_df["location"]=="checkout"].customer_no.values)
    non_co_customers = list(all_customers.difference(co_customers))

    for cust in non_co_customers:
            daily_df=daily_df.append({"timestamp":daily_df['timestamp'].str.extract('(^\S*)')[0][0] +' '+ "22:00:00", "customer_no":cust,"location":"checkout"},ignore_index=True)

    return daily_df

In [ ]:
for i in range(len(week)):
    week[i] = smoothen_data(week[i])

In [14]:
for i in range(len(week)):
    week[i]["customer_no"]=week[i]["customer_no"].apply(lambda x:str(x)+'_'+working_days[i])
    week[i]["day"]=working_days[i]

In [15]:
week[1].tail(20)

                timestamp customer_no  location  day
4696  2019-09-03 21:42:00    1409_tue  checkout  tue
4697  2019-09-03 21:42:00    1411_tue     fruit  tue
4698  2019-09-03 21:42:00    1419_tue     fruit  tue
4699  2019-09-03 21:43:00    1412_tue    spices  tue
4700  2019-09-03 21:43:00    1418_tue  checkout  tue
4701  2019-09-03 21:43:00    1419_tue  checkout  tue
4702  2019-09-03 21:43:00    1420_tue    drinks  tue
4703  2019-09-03 21:44:00    1403_tue    drinks  tue
4704  2019-09-03 21:44:00    1412_tue    drinks  tue
4705  2019-09-03 21:46:00    1403_tue  checkout  tue
4706  2019-09-03 21:46:00    1420_tue  checkout  tue
4707  2019-09-03 21:46:00    1421_tue     fruit  tue
4708  2019-09-03 21:46:00    1422_tue    spices  tue
4709  2019-09-03 21:47:00    1421_tue    drinks  tue
4710  2019-09-03 21:47:00    1422_tue     dairy  tue
4711  2019-09-03 21:48:00    1421_tue  checkout  tue
4712  2019-09-03 21:49:00    1412_tue  checkout  tue
4713  2019-09-03 21:50:00    1411_tue     dairy  tue
4714  2019-09-03 22:00:00    1411_tue  checkout  tue
4715  2019-09-03 22:00:00    1422_tue  checkout  tue

In [16]:
print(type(mon['timestamp'][0]))

<class 'str'>

str type is not useful for us. We need to cast it to datetime type to be able to make use of it.

In [17]:
for day in week:
    # set timestamp as datetime and index as well
    day.timestamp = pd.to_datetime(day.timestamp)
    day.set_index("timestamp", inplace=True)
    
# let's start working on metadata of the dataframe
# for day in week:
    # adding a customer count
#    day["nr_loc"] = day.groupby("customer_no").cumcount()
#    day["add"]   = day.loc[:, "nr_loc"].transform(lambda x: 1 if x == 0 else 0)
#    add_customer = day.loc[:, "nr_loc"].transform(lambda x: 1 if x == 0 else 0)
#    day["del"]   = day.loc[:, "location"].transform(lambda x: -1 if x == "checkout" else 0)
#    del_customer = day.loc[:, "location"].transform(lambda x: -1 if x == "checkout" else 0)
#    day["net"] = add_customer + del_customer
#    day["cust_total"] = day.loc[:, "net"].cumsum()

In [18]:
week[0].tail(10)

                    customer_no  location  day
timestamp
2019-09-02 22:00:00    1440_mon  checkout  mon
2019-09-02 22:00:00    1441_mon  checkout  mon
2019-09-02 22:00:00    1443_mon  checkout  mon
2019-09-02 22:00:00    1445_mon  checkout  mon
2019-09-02 22:00:00    1446_mon  checkout  mon
2019-09-02 22:00:00    1447_mon  checkout  mon
2019-09-02 22:00:00    1430_mon  checkout  mon
2019-09-02 22:00:00    1433_mon  checkout  mon
2019-09-02 22:00:00    1437_mon  checkout  mon
2019-09-02 22:00:00    1439_mon  checkout  mon

In [19]:
df_week = pd.concat([week[0],week[1],week[2],week[3],week[4]])

In [20]:
print(type(week[0]))

<class 'pandas.core.frame.DataFrame'>